<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Welcome to pet adoption central</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Boogaloo|Mogra" rel="stylesheet">
</head>
<body>

<% include ./partials/header.ejs%>

<section class="home-search">
	<% if (!location) { %>
	<p>A location in the form of a ZIP code is required to search for pets! <br>
	Please enter your location to search:</p>
	<form action="/refine/search" method="POST">
		<input type="text" name="location" placeholder="ZIP code"><br>
		<button>Find the perfect animal!</button>
	</form>
	<% } else { %>
	<p>You are currently searching using the ZIP code <%= location %>. Click <a href="/clearloc">here</a> to change your search location.</p>
	<form action="/refine/search" method="POST">
		<button>Find the perfect animal!</button>
	</form>
	<% } %>
</section>


<section>

	<div class="splash-container-bg" style="background-image: url(
	<% let xPhotos = [];%>
	<% for (let i = 0; i < data.media.photos.photo.length; i++) { -%>
		<% if (data.media.photos.photo[i]['@size'] == 'x') { %>
			<% xPhotos.push(data.media.photos.photo[i].$t) %> 
		<% } %>
	<% } -%>
	<% let bgrandomize = Math.floor(Math.random() * xPhotos.length) %>
	<% if (bgrandomize == 0 && xPhotos.length > 1) { bgrandomize = 1 } %>
	<%= xPhotos[bgrandomize] %>)">

	<div class="splash-container">

		<img class="image-overlay" src=" <%= data.media.photos.photo[2].$t %> ">

	</div>

	</div>

</section>

<section>

	<div class="randomized-pet-info-container">

		<p class="randomized-pet">This randomized pet's name is <%= data.name.$t %>! <% if (data.sex.$t == 'M') { %> He<% } else { %> She<% } %>'s <% if (data.age.$t == 'Adult') { %> an <% } else { %> a <% } %> <%= data.age.$t.toLowerCase() %> <%= data.animal.$t.toLowerCase() %> waiting to be adopted in <%= data.contact.state.$t %>. <a href="/view/pet/<%= data.id.$t %>">Click here to learn more about <%= data.name.$t %> </a> - This pet last updated 
			<%= data.lastUpdate.$t.slice(0, 10) %></p>

	</div>

</section>


<% include ./partials/footer.ejs %>

</body>
</html>