<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Welcome to pet adoption central</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<header>
	<nav class="nav-container">
		<ul class="left-aligned-header">
			<li> <a href="/">ooga</a> </li>
			<li> <a href="/">booga</a> </li>
			<li> <a href="/">googa</a> </li>
		</ul>
		<ul class="right-aligned-header">
			<li><a href="/">zongo</a></li>
			<li><a href="/">bongo</a></li>
		</ul>
	</nav>
	<h1>Adoption Finder Website</h1>
</header>

<main>
	<div class="splash-container-bg" style="background-image: url(
	<% let xPhotos = [];%>
	<% for (let i = 0; i < data.media.photos.photo.length; i++) { -%>
		<% if (data.media.photos.photo[i]['@size'] == 'x') { %>
			<% xPhotos.push(data.media.photos.photo[i].$t) %> 
		<% } %>
	<% } -%>
	<% let bgrandomize = Math.floor(Math.random() * xPhotos.length) %>
	<% if (bgrandomize == 0 && xPhotos.length > 1) { bgrandomize = 1 } %>
	<%= xPhotos[bgrandomize] %>)">
	<div class="splash-container">
		<div class="button-overlay" style="background-image: url(<%= data.media.photos.photo[2].$t %>)">
			<div class="find-button-container">
				<div class="splash-button">left</div>
				<div class="splash-button">right</div>
			</div>
		</div>
	</div>
	</div>
</main>
<aside>
	<div class="randomized-pet-info-container">
		<p class="randomized-pet">This completely randomized pet's name is <%= data.name.$t %>! <% if (data.sex.$t == 'M') { %> He<% } else { %> She<% } %>'s <% if (data.age.$t == 'Adult') { %> an <% } else { %> a <% } %> <%= data.age.$t.toLowerCase() %> <%= data.animal.$t.toLowerCase() %> waiting to be adopted in <%= data.contact.state.$t %>. <a href="/viewpet/<%= data.id.$t %>">Click here to learn more about <%= data.name.$t %> </a></p>
	</div>
</aside>

<footer>
	<p>this is the footer text</p>
</footer>

</body>
</html>