<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Welcome to pet adoption central</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">
</head>
<body>

<% include ./partials/header.ejs%>

<main>

	<div class="splash-container-bg" style="background-image: url(
	<% let xPhotos = [];%>
	<% for (let i = 0; i < data.media.photos.photo.length; i++) { -%>
		<% if (data.media.photos.photo[i]['@size'] == 'x') { %>
			<% xPhotos.push(data.media.photos.photo[i].$t) %> 
		<% } %>
	<% } -%>
	<% let bgrandomize = Math.floor(Math.random() * xPhotos.length) %>
	<% if (bgrandomize == 0 && xPhotos.length > 1) { bgrandomize = 1 } %>
	<%= xPhotos[bgrandomize] %>)">

	<div class="splash-container">

		<img class="image-overlay" src=" <%= data.media.photos.photo[2].$t %> ">

		<div class="animal-options">
			<a href="/search/dog">Dogs</a>
			<a href="/search/cat">Cats</a>
			<a href="/search">All</a>
		</div>

	</div>

	</div>

</main>

<aside>

	<div class="randomized-pet-info-container">

		<p class="randomized-pet">This completely randomized pet's name is <%= data.name.$t %>! <% if (data.sex.$t == 'M') { %> He<% } else { %> She<% } %>'s <% if (data.age.$t == 'Adult') { %> an <% } else { %> a <% } %> <%= data.age.$t.toLowerCase() %> <%= data.animal.$t.toLowerCase() %> waiting to be adopted in <%= data.contact.state.$t %>. <a href="/view/pet/<%= data.id.$t %>">Click here to learn more about <%= data.name.$t %> </a> - This pet last updated 
			<%= Date(data.lastUpdate.$t) %></p>

	</div>

</aside>

<footer>
	<p>this is the footer text</p>
</footer>

</body>
</html>