<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>search for pets</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Boogaloo|Mogra" rel="stylesheet">
</head>
<body>

<div id="all-container">

	<% include ./partials/header.ejs %>

	<main id="body">

		<% include ./partials/location.ejs %>

		<div class="search-form">

		<h2>Search for <%= animal %> by:</h2>

			<form action="/results/search" method="POST">
				<input type="hidden" name="location" value="<%= location %>">
				<input type="hidden" name="animal" value="<%= animal %>">
				Breed: <select name="breed">
					<option>All</option>
					<% for (let i = 0; i < breeds.length; i++) { -%>
						<option value="<%= breeds[i].$t %>"> <%= breeds[i].$t %> </option>
					<% } -%>
				</select>

				Size: <select name="size">
					<option value="All">All</option>
					<option value="S">Small</option>
					<option value="M">Medium</option>
					<option value="L">Large</option>
					<option value="XL">X-Large</option>
				</select>

				Gender: <select name="sex">
					<option value="All">All</option>
					<option value="M">Male</option>
					<option value="F">Female</option>
				</select>

				Age: <select name="age">
					<option value="All">All</option>
					<option value="Baby">Baby</option>
					<option value="Young">Young</option>
					<option value="Adult">Adult</option>
					<option value="Senior">Senior</option>
				</select>
				<br>
				<button>Search!</button>

			</form>
		</div>

	</main>

	<% include ./partials/footer.ejs %>

</div>

</body>
</html>