<!DOCTYPE html>
<html>
<head>
	<title>show pet</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Boogaloo|Mogra" rel="stylesheet">
</head>
<body>



<%=data.contact.phone.$t%>
<%=data.contact.address1.$t%>
<%=data.contact.city.$t%>
<%=data.contact.zip.$t%>
<%=data.breeds.breed.$t%>
<%=data.name.$t%>
<%=data.id.$t%>
<%=data.shelterId.$t%>
<%=data.description.$t%>


<img class="image-overlay" src=" <%= data.media.photos.photo[2].$t %>">



</body>
</html>