<!DOCTYPE html>
<html>
<head>
	<title>Show pet</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Boogaloo|Mogra |Josefin Sans" rel="stylesheet">
</head>
<body>

<div id="all-container">
	
	<% include ./partials/header.ejs %>

	<main id="body">

	<% include ./partials/location.ejs %>

	<div class="pets-page-container">

		<div class="photos-and-info">

			<div class="pet-photos-container">
				<div class="pet-photos-overflow">
					<% 
					// variable to count the number of photos (with "x")
					let photoNum = 1;

					for (let i = 0; i < data.media.photos.photo.length; i++) { 

						// this selects the photos that we want (photos with"x")
						if (data.media.photos.photo[i]["@size"] === "x") {

							%> 

							<img class="image-overlay hidden animal-picture" id="animal-photo-<%= photoNum %>" src="<%= data.media.photos.photo[i].$t %>">
							<%
							photoNum++

						} // end if this is an x  

					} // for 


					%>
				</div>

				<div class="photo-button-container">
					<button id="left">Prev</button>
					<button id="right">Next</button>
				</div>

			</div>

			<div class="pet-details">

				<div class="name-container">
					<%=data.name.$t%>
				</div>

				<div class="pet-update">
					<div class="updated">This pet's information was last updated <%= data.lastUpdate.$t.slice(0, 10) %>.</div>
					<div class="updated">
						<%= data.name.$t %> is <strong class="availablility"><% if (data.status.$t === 'A') { %> available <% } else { %> unavailable <% } %></strong> according to Petfinder's database.
					</div>
				</div>

				<div id="pet-contact-container">
					<a class="info-miniheader" href='/view/shelter/<%= data.shelterId.$t %>'>Visit this shelter's page</a>
					<div>Phone Number: <%=data.contact.phone.$t%></div>
					<div>Address: <%=data.contact.address1.$t%></div>
					<div>City/State: <%=data.contact.city.$t%>, <%= data.contact.state.$t %></div>
					<div>Zip: <%=data.contact.zip.$t%></div>
				</div>

				<div id="pet-info-container">
					<div class="info-miniheader">Database details:</div>
					<p><%= data.name.$t %> is <% if (data.age.$t == 'Adult') { %> an <% } else { %> a <% } %> <%= data.age.$t.toLowerCase() %> <%= data.animal.$t.toLowerCase() %>.</p>
				</div>

			</div>

		</div>

		<p class="pet-description"><%=data.description.$t%></p>

	</div>

	<% if (logged) { %>

	<div class="save-this-pet">

		<div>
			<%= saveAlert %>
		</div>

		<form action="/view/pet/<%= data.id.$t %>" method="POST">
			<input type="hidden" name="id" value="<%= data.id.$t %>">
			<input type="hidden" name="shelterId" value="<%= data.shelterId.$t %>">
			<input type="hidden" name="name" value="<%= data.name.$t %>">
			<input type="hidden" name="photo" value="<%= data.media.photos.photo[2].$t %>">
			<input type="hidden" name="age" value="<%= data.age.$t %>">
			<input type="hidden" name="animal" value="<%= data.animal.$t %>">
			<input type="hidden" name="breed" value="<%= data.breeds.breed.$t %>">
			<input type="hidden" name="sex" value="<%= data.sex.$t %>">
			<button>Save this pet</button>
		</form>

	</div>

	<% } %>

	</main>

	<% include ./partials/footer.ejs %>

</div>

<script type="text/javascript" src="/js/showPhoto.js"></script>
</body>
</html>